@use "../abstracts/" as *;

@font-face {
    font-family: PoppinsBold;
    src: url(../assets/fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
    font-family: PoppinsRegular;
    src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: PoppinsMedium;
    src: url(../assets/fonts/Poppins-Medium.ttf) format("truetype");
}

body {
    font-family: $primary-font;
    font-weight: 500;
    font-size: pxToRem(16);
    max-width: 1800px;
    margin: 0 auto;
    min-width: 320px;
}