//responsive
$small: 429px;
$mobiles: calc($small - 1px);
$medium: 768px;
$extra-large: 1200px;
$desktop: calc($extra-large + 0px);
$tablet: calc($extra-large - 1px);

//font
$primary-font: PoppinsRegular;
$secondary-font: PoppinsBold;

// color
$color-main: blue;
$color-text-1: rgba(0, 0, 0, 1);
$color-text-2: rgba(0, 0, 0, 0.7);
$color-text-3: rgba(0, 0, 0, 0.6);