@use "../abstracts/" as *;

.header-container {
    width: 100%;

    .header-top {
        width: 100%;
        height: pxToRem(95);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 pxToRem(120);

        // logo
        .header-top__logo {
            .header-top__logo-item {
                display: flex;
                align-items: center;
                column-gap: 14px;

                .logo {
                    width: pxToRem(44);
                    height: pxToRem(44);
                    border-radius: 50%;
                    background-color: $color-main;
                }

                span {
                    color: $color-main;
                    font-weight: 600;
                }
            }
        }

        // nav header top
        .header-top__nav-container {
            ul {
                display: flex;
                column-gap: pxToRem(40);
            }
        }

        .header-top__button {
            span {
                padding-right: 20px;
                font-size: 1rem;
            }
        }
    }
}