<!-- Start header -->
<header class="header-container">
    <!-- Start header top -->
    <div class="header-top">
        <div class="header-top__logo">
            <figure class="header-top__logo-item">
                <div class="logo"></div>
                <figcaption>Digital <span>Agency</span></figcaption>
            </figure>
        </div>
        <nav class="header-top__nav-container">
            <ul>
                <include src="./components/navList.html" locals='{
                    "list":["Ana Sayfa", "Kurumsal", "Neler Yapıyoruz?","Blog"],
                    "classLink":"nav__item-link",
                    "classList":"nav__item"
                }'>
                </include>
            </ul>
        </nav>
        <div class="header-top__button">
            <span>EN</span>
            <include src="./components/button.html" locals='{
                "list":["Müşteri Girişi"]
            }'>
            </include>
        </div>
    </div>
    <!-- Start header title main -->
    <div class="header-title">
        <div class="header-title--main">
            <h1 class="header__h1--title">
                İşinize uygun <span>tasarım</span> ve <span>yazılımlar</span>
            </h1>
            <p class="header__title--value">
                360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web
                tasarım ve web yazılım hizmetleri sunmaktayız.
            </p>
            <include src="./components/button.html" locals='{
                "list":["Detaylı İncele"]
            }'>
            </include>
        </div>
    </div>
    <!-- Start header box main -->
    <div class="header__box">
        <div class="header__box--main">
            <figure class="header__figure--bgImage">
                <img src="../assets/img/backgroud.png" alt="">
                <div class="header__box--text">
                    <h2>Web sitesi ve Kurumsal Kimlik Tasarımları</h2>
                    <p>Online dünyadaki yüzünüz olan web sitelerinizi tasarlar. E-ticaret siteleri dahil olmak üzere tüm
                        ihyitaçlarınıza çözümler sunar.</p>
                </div>
            </figure>
            <img src="../assets/img/list-number-123.png" alt="" class="header__img--list">
        </div>
    </div>
</header>