<!-- Start header -->
<header class="header">
    <!-- Start header top -->
    <div class="header__top">
        <div class="header__top--logo">
            <figure>
                <div class="header__top--logo-blue"></div>
                <figcaption>Digital <span>Agency</span></figcaption>
            </figure>
        </div>
        <nav class="header__top--nav-container">
            <ul>
                <include src="./components/navList.html" locals='{
                    "list":["Ana Sayfa", "Kurumsal", "Neler Yapıyoruz?","Blog"],
                    "classLink":"nav__item-link",
                    "classList":"nav__item"
                }'>
                </include>
            </ul>
        </nav>
        <div class="header__top--button">
            <span>EN</span>
            <include src="./components/button.html" locals='{
                "list":["Müşteri Girişi"]
            }'>
            </include>
            <img src="../assets/icon/menu.png" alt="">
        </div>
    </div>
    <!-- Start header title main -->
    <div class="header__title">
        <div class="header__title--main">
            <h1>
                İşinize uygun <span>tasarım</span> ve <span>yazılımlar</span>
            </h1>
            <p class="review__text">
                360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web tasarım ve web yazılım hizmetleri sunmaktayız.
            </p>
            <include src="./components/button.html" locals='{
                "list":["Detaylı İncele"]
            }'>
            </include>
        </div>
    </div>
    <!-- Start header box main -->
    <div class="header__box">
        <div class="header__box--main">
            <figure class="box-main">
                <img src="../assets/img/backgroud.png" alt="">
                <div class="box-main__text">
                    <h2>Web sitesi ve Kurumsal Kimlik Tasarımları</h2>
                    <p>Online dünyadaki yüzünüz olan web sitelerinizi tasarlar. E-ticaret siteleri dahil olmak üzere tüm ihyitaçlarınıza çözümler sunar.</p>
                </div>
            </figure>
            <img src="../assets/img/list-number-123.png" alt="" class="image__list-number">
        </div>
    </div>
</header>
