<!-- Start layout main -->
<main>
    <div class="OurWorkflow">
        <div class="OurWorkflow__text">
            <p>
                Neler <span>Yapıyoruz?</span>
            </p>
            <title>
                3 adımda çalışma sürecimiz
            </title>
            <p>
                360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web
                tasarım ve web yazılım hizmetleri sunmaktayız.
            </p>
        </div>
        <div class="OurWorkflow__list">
            <include src="./components/listBoxIcon.html" locals='{
                "list":[
                    {
                        "fileIcon": "icon-3-cf.svg",
                        "title":"Keşif ve Planlama",
                        "text": "Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır."
                    },
                    {
                        "fileIcon": "icon-3-box.svg",
                        "title":"Tasarım ve Geliştirme",
                        "text": "Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır."
                    },
                    {
                        "fileIcon": "icon-3-time.svg",
                        "title":"Test ve Yayına Alma",
                        "text": "Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır."
                    }
                ]
            }'>

            </include>
        </div>

    </div>
</main>