<!-- Start layout main -->
<main>
    <div class="OurWorkflow">
        <div class="OurWorkflow__text">
            <p>
                Neler <span>Yapıyoruz?</span>
            </p>
            <title>
                3 adımda çalışma sürecimiz
            </title>
            <p>
                360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web
                tasarım ve web yazılım hizmetleri sunmaktayız.
            </p>
        </div>
        <div class="OurWorkflow__list">
            <include src="./components/listBoxIcon.html" locals='{
                "list":[
                    {
                        "fileIcon": "icon-3-cf.svg",
                        "title":"Keşif ve Planlama",
                        "text": "Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır."
                    },
                    {
                        "fileIcon": "icon-3-box.svg",
                        "title":"Tasarım ve Geliştirme",
                        "text": "Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır."
                    },
                    {
                        "fileIcon": "icon-3-time.svg",
                        "title":"Test ve Yayına Alma",
                        "text": "Belirlenen strateji ile tasarımın ve yazılımın oluşturulması sağlanır."
                    }
                ]
            }'>

            </include>
        </div>
    </div>
    <div class="Preferential">
        <div class="Preferential__box">
            <title class="Preferential__box--title">
                Ürününüz veya hizmetiniz için en iyisini birlikte yapalım.
            </title>
            <p class="Preferential__box--text">
                360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web
                tasarım ve web yazılım hizmetleri sunmaktayız.
            </p>
            <div class="Preferential__box--button">
                <include src="./components/button.html" locals='{
                    "list": ["HEMEN TEKLİF ALIN"]
                }'>
                </include>
            </div>
        </div>
    </div>
    <div class="Work">
        <p class="Work__question">
            Neler <span>Yapıyoruz?</span>
        </p>
        <title class="Work__title">
            Sizin için neler yapıyoruz?
        </title>
        <p class="Work__text">
            360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır. İşletmelerin ihtiyaçlarına uygun web
            tasarım ve web yazılım hizmetleri sunmaktayız.
        </p>
    </div>
    <div class="Review-work">
        <img src="../assets/img/img-book.png" alt="" class="Review-work__image">
        <div class="Review-work__box-text">
            <title class="Review-work__box-text--title">
                Sizin için neler yapabiliriz beraber bakalım.
            </title>
            <p class="Review-work__box-text--review">
                Tüm platformlarda sunduğumuz, web tasarım hizmetimiz ile ilgili bilgiler edinelim.
            </p>
            <div class="Review-work__box-text--jobs">
                <div class="jamb--blue"></div>
                <div class="List-text">
                    <div class="List-text__box">
                        <title>
                            Web Tasarım
                        </title>
                        <p>
                            Var olan veya yeni kurulan işletmenizin, modern bir kurumsal kimliğe sahip olması için web
                            sitesi.
                        </p>
                    </div>
                    <div class="List-text__box">
                        <title>
                            Dijital Pazarlama
                        </title>
                        <p>
                            Web sitenizin veya işletmenizin, daha popüler hale gelmesi için çeşitli hizmetler sunuyoruz.
                        </p>
                    </div>
                    <div class="List-text__box">
                        <title>
                            Prodüksiyon
                        </title>
                        <p>
                            İşletmenizin tanıtımının daha güzel hale gelmesi için, fotoğraf çekimi ve prodüksiyon
                            yapıyoruz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Share-posts">
        <div class="Share-posts__title">
            <p>Neler <span>Yapıyoruz?</span> </p>
            <title>
                Öğreniyoruz, sizinle paylaşıyoruz.
            </title>
            <p>Alanında uzman yazar arkadaşlarımızın, bilgi paylaşımı yaptıkları yazıları inceleyelim.</p>
        </div>
        <div class="Share-posts__nav">
            <!-- include components nav button -->
        </div>
        <!-- <div class="Share-posts__page">
            <include src="../components/navList.html" locals='{
                "list":["Hepsini Gör", "Web Tasarım", "Kurumsal Kimlik Tasarımı","SEO","Dijital Pazarlama" ],
            }'>

            </include>
        </div> -->
    </div>
</main>